.signup-container input {
  margin-bottom: 1vh;
}
html,
body {
	height: 100%;
	font-family: "Cairo", sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Cairo", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Cairo", sans-serif;
	color: #6f6f6f;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}







/*---------------------
  Footer
-----------------------*/

.footer {
	background: #F3F6FA;
	padding-top: 70px;
	padding-bottom: 0;
}



.foto{
	width: 15vw;
	border-radius: 10px;
	
}
.bg-admin{
	background-image: url(../images/bg-system.jpg);
	height: 90vh;
	background-repeat: no-repeat;
	background-size: cover;
}
.offcanvas-end{
	width: 200px;
}
.foto-categoria{
	width: 30em;
	height: 25em;
	/* height: 25vh;
	width: 25vw; */
	object-fit: contain;
	transition: width 2s;
	padding: 5%;

}
.foto-categoria2{
	height: 45vh;
	width: 45vw;
	object-fit: contain;


}
.foto-cursos{
	/* height: 25vh;
	width: 25vw; */
	width: 100%;
	height: 25vh;
	object-fit: contain;
	transition: width 2s;
	padding: 5%;
}
.foto-categoria:hover{
	 transform: scale3d(1.02,1.02,1.02);
	 
	 transition: 0.6s;
	 /* box-shadow: 5px 10px #888888; */
	 /* background-color: #00849D; */

	 
}
.bg-cate{
	/* background-color: black;
	padding: 10%; */
	/* background-image: url(../images/bg-system.jpg); */
	/* padding: 5%; */
	border-radius: 15px;
	border-radius: 15px;
	background: #ffffff;
	box-shadow:  21px 21px 33px #f0f0f0,
				 -21px -21px 33px #ffffff;

}
.div-cat{
  /* height: 40vh; */
  
  /* width:  25vw; */

  /* background: red; */
  /* margin: auto;
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.19);
  border-radius: 12px; */
  /* border: 1px solid rgba(209, 213, 219, 0.3); */

  
}
.div-cat:hover{
	box-shadow:  21px 21px 33px #adadad,
             -21px -21px 33px #ffffff;
	/* background-color: #00849D; */
	border-radius: 5px;
	/* border-radius: 5px;
	backdrop-filter: blur(3px) saturate(183%);
    -webkit-backdrop-filter: blur(3px) saturate(183%);
    background-color: rgba(255, 255, 255, 0.49);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3); */

}

.color-principal{
	/* background-color: #00849D; */
	color:#00849D ;

}
.bg-principal{
		background-color: #00849D;

}
.titulo-admin{
	padding: 2vw;
	backdrop-filter: blur(2px) saturate(144%);
    -webkit-backdrop-filter: blur(2px) saturate(144%);
    background-color: rgba(255, 255, 255, 0.17);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.titulo-categoria{
	color: white;
	font-weight: 600;
}

/* .titulo-categoria:hover{
	color: #00849D;
} */
.bg-banner{
	background-image: url(../images/bg-banner.jpg);
	height: 45vh;
	background-repeat: no-repeat;
	background-size: cover;
 	box-shadow:  21px 21px 33px #f0f0f0,
				 -21px -21px 33px #ffffff;
}
.nav-hover{
	color: black !important;
	border-radius: 10px;
	margin-left: 1vw;
}

.nav-hover:hover{
	color: white !important;
background-color: #00849D;
border-radius: 10px;
}

.div-curso{
	height: max-content;
}
.sale{
	border-radius: 5px;
	font-size: 4em;
	position: relative;
	display: inline-block;
	background: red;
	color: white;
	padding: 2%;
	text-align: center;
	vertical-align: middle;
	line-height: 2.5rem;
	transform: rotate(-10deg);
	animation: beat 1s ease infinite alternate;

}
@keyframes beat {
	from {	transform: rotate(-10deg) scale(1); }
	to {	transform: rotate(-10deg) scale(1.1); }
}


/**/
.img-carusel{
	height: 45vh;
	object-fit: cover;
}

.bg-principal-cursos{
	background-color: #00849D ;

	/* background-image: url(../images/bg-blackboard.jpg); */
	/* opacity:0.9; */
}

.bg-curso{
	border-radius: 5px;
	background: #ffffff;
	box-shadow:  5px 5px 0px #fafafa,
				 -5px -5px 0px #ffffff;
}
.bg-curso:hover{

	box-shadow:  5px 5px 0px #fafafa,
	-7px -7px 0px #ffffff;

}
.llama{
	/* margin-top: 2em; */
	width: 18em;
	position: absolute;
}
.llama2{
	/* margin-top: 2em; */
	width: 22em;
	position: absolute;
}
.llama3{
	width: 12em;
}
.llama4{
	width: 22em;
	margin-left: 10em;
}