<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <div class="container"><a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 " href="/"> FAMOSOS</a></div>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  {{#if user}}

  <!-- Example single danger button -->
  <div class="btn-group">
    <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Bienvenido : {{user.user_name}}
    </button>
    {{#if user.is_superuser}}
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/dashboard">Panel de control</a></li>
      <li><a class="dropdown-item" href="/adminUsuarios">Usuarios</a></li>


      <li>
        <hr class="dropdown-divider">
      </li>
      <li> <a class="nav-link px-3" href="/logout">Salir</a>
      </li>
    </ul>
  </div>
  <div class="navbar-nav"></div>
  </div>

  {{else}}
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/dashboard">Mi perfil</a></li>

    <li>
      <hr class="dropdown-divider">
    </li>
    <li> <a class="nav-link px-3" href="/logout">Salir</a>
    </li>
  </ul>
  </div>
  {{/if}}
  <div class="navbar-nav"></div>


  </div>

  {{else}}
  <div class="navbar-nav">

    <div class="nav-item text-nowrap">

      <a class="nav-link px-3" href="/signup">
        <span data-feather="user-plus"></span>
        Registrate
      </a>
    </div>

  </div>
  <div class="navbar-nav">

    <div class="nav-item text-nowrap">

      <a class="nav-link px-3" href="/signin">
        <span data-feather="user"></span>
        Ingresar
      </a>
    </div>

  </div>
  {{/if}}
</header>

<header class="header">

  <div class="container">
    {{!-- <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <a href="./index.html"><img src="img/logo.png" alt="" /></a>
        </div>
      </div>
      <div class="col-lg-6"> --}}
        {{!-- <nav class="header__menu">
          <ul>
            <li class="active"><a href="./salsa.html">Salsa</a></li>
            <li><a href="./rock.html">Rock</a></li>
            <li><a href="./cumbia.html">Cumbia</a></li>
            <li><a href="./merengue.html">Merengue</a></li>
            <li><a href="./mariachis.html">Mariachis</a></li>
          </ul>
        </nav>
      </div> --}}
      {{!-- <div class="col-lg-3">
        <div class="header__cart">
          <ul>
            <li><a href="#"> --}}
                {{!--
                <FontAwesomeIcon icon={faHeart} /><span>1</span> --}}
                {{!--
              </a></li> --}}
            {{!-- <li><a href="#"> --}}
                {{!--
                <FontAwesomeIcon icon={faShoppingCart} /><span>3</span> --}}
                {{!--
              </a></li>
          </ul> --}}
          {{!-- <div class="header__cart__price">item: <span>$150.00</span></div> --}}
          {{!--
        </div>
      </div>
    </div>
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div> --}}
  </div>
</header>