<div class="bg-light border ">
    <div class="container mt-1 ">
        <div class="d-flex justify-content-start p-3  "> <a class="text-dark text-decoration-none " href="/"> <i
                    class="fas fa-arrow-left  "></i> &nbsp; &nbsp;<i class="fas fa-home "></i> </a>
        </div>
    </div>
</div>
{{#if producto}}
<div class="bg-light p-3">
    <div class="container">
        <h4>Ultimas publicaciones</h4>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        {{#each producto}}

        <div class="col-md-6 col-lg-4 col-xl-3    mb-5 ">
            <img style="height: 30em; overflow: hidden;" class="shadow mb-2 bg-body rounded" src="{{url_img}}" alt="">

            <h6> #{{genero}}</h6>


        </div>

        {{/each}}
    </div>
</div>

<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="m-5 ">
                <h4 id="name"></h4>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis dolores soluta beatae hic quae
                    optio ea veritatis alias, dolorum enim neque sint excepturi, sapiente nisi vero unde similique
                    repellat earum.</p>
            </div>

        </div>
        <div class="col-md-6">

            <div class="card p-5 m-5 shadow">
                <button class="btn btn-info"> Comprar </button>
            </div>
        </div>

    </div>


</div>
{{else}}
<div class="container ">
    <div class="card shadow p-5 m-5">
        <h4 class="text-center alert alert-danger mt-5 mb-5"> Lo sentimos, este usuario aúin no está disponible en estos
            momentos
        </h4>
    </div>
</div>
<div style="height: 10vh;">

</div>
{{/if}}