<div class="bg-light border ">
    <div class="container mt-1 ">
        <div class="d-flex justify-content-start p-3  "> <a class="text-dark text-decoration-none " href="/"> <i
                    class="fas fa-arrow-left  "></i> &nbsp; &nbsp;<i class="fas fa-home "></i> </a>
        </div>
    </div>
</div>
{{#if producto}}
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5 ">
            <div class=" mt-5 ">
                <h4 id="name" class="mt-5">Lorem ipsum dolor sit </h4>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis dolores soluta beatae hic quae
                    optio ea veritatis alias, dolorum enim neque sint excepturi, sapiente nisi vero unde similique
                    repellat earum.</p>
            </div>

        </div>
        <div class="col-md-8">

            <div class="card p-5 m-5 shadow">
                <div class="container-fluid" id="grad1">
                    <div class="row justify-content-center mt-0">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center p-0  ">
                            <div class="card px-0 pt-4 pb-0">
                                {{!-- <h2><strong>Sign Up Your User Account</strong></h2> --}}
                                {{!-- <p>Fill all form field to go to next step</p> --}}
                                <div class="row">
                                    <div class="col-md-12 mx-0">
                                        <form id="msform">
                                            <!-- progressbar -->
                                            <ul id="progressbar">
                                                <li class="active" id="account"><strong>1</strong></li>
                                                <li id="personal"><strong>2</strong></li>
                                                <li id="payment"><strong>3</strong></li>
                                                <li id="confirm"><strong>4</strong></li>
                                            </ul> <!-- fieldsets -->
                                            <fieldset>
                                                <div class="form-card">
                                                    <h2 class="fs-title mb-5">Contrata a tu artista </h2>

                                                    <input type="text" name="uname" placeholder="Para quien es" />
                                                    <input type="password" name="pwd" placeholder="Mensaje" />

                                                </div> <input type="button" name="next" class="next action-button "
                                                    value="Next Step" />
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-card">
                                                    <h2 class="fs-title">Selecciona la fecha</h2> <label
                                                        for="birthday">ingresa la fecha</label>
                                                    <input type="date" id="birthday" name="birthday">

                                                </div> <input type="button" name="previous"
                                                    class="previous action-button-previous" value="Previous" /> <input
                                                    type="button" name="next" class="next action-button"
                                                    value="Next Step" />
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-card">
                                                    <h2 class="fs-title">Información de pago</h2>
                                                    <div class="radio-group">
                                                        {{!-- <div class='radio' data-value="credit"><img
                                                                src="https://i.imgur.com/XzOzVHZ.jpg" width="200px"
                                                                height="100px"></div> --}}
                                                        <div class='radio' data-value="paypal"><img
                                                                src="https://i.imgur.com/jXjwZlj.jpg" width="200px"
                                                                height="100px"></div> <br>
                                                    </div> <label class="pay">Card Holder Name*</label> <input
                                                        type="text" name="holdername" placeholder="" />
                                                    <div class="row">
                                                        <div class="col-9"> <label class="pay">Card Number*</label>
                                                            <input type="text" name="cardno" placeholder="" />
                                                        </div>
                                                        <div class="col-3"> <label class="pay">CVC*</label> <input
                                                                type="password" name="cvcpwd" placeholder="***" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-3"> <label class="pay">Expiry Date*</label>
                                                        </div>
                                                        <div class="col-9"> <select class="list-dt" id="month"
                                                                name="expmonth">
                                                                <option selected>Month</option>
                                                                <option>January</option>
                                                                <option>February</option>
                                                                <option>March</option>
                                                                <option>April</option>
                                                                <option>May</option>
                                                                <option>June</option>
                                                                <option>July</option>
                                                                <option>August</option>
                                                                <option>September</option>
                                                                <option>October</option>
                                                                <option>November</option>
                                                                <option>December</option>
                                                            </select> <select class="list-dt" id="year" name="expyear">
                                                                <option selected>Year</option>
                                                            </select> </div>
                                                    </div>
                                                </div> <input type="button" name="previous"
                                                    class="previous action-button-previous" value="Previous" /> <input
                                                    type="button" name="make_payment" class="next action-button"
                                                    value="Confirm" />
                                            </fieldset>
                                            <fieldset>
                                                <div class="form-card">
                                                    <h2 class="fs-title text-center">Felicidades !</h2> <br><br>
                                                    <div class="row justify-content-center">
                                                        <div class="col-3"> <img
                                                                src="https://img.icons8.com/color/96/000000/ok--v2.png"
                                                                class="fit-image"> </div>
                                                    </div> <br><br>
                                                    <div class="row justify-content-center">
                                                        <div class="col-7 text-center">
                                                            <h5>Has hecho una solicitud</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<div class="bg-light p-3">
    <div class="container">
        <h4>Ultimas publicaciones</h4>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        {{#each producto}}

        <div class="col-md-6 col-lg-4 col-xl-3    mb-5 ">
            {{!-- <img style="height: 30em; overflow: hidden;" class="shadow mb-2 bg-body rounded" src="{{url_img}}"
                alt=""> --}}
            <video width="250" height="450" autoplay loop>
                <source src="{{url_img}}" type="video/mp4">
            </video>

            <h6> #{{genero}}</h6>


        </div>

        {{/each}}
    </div>
</div>



{{else}}
<div class="container ">
    <div class="card shadow p-5 m-5">
        <h4 class="text-center alert alert-danger mt-5 mb-5"> Lo sentimos, este usuario aúin no está disponible en estos
            momentos
        </h4>
    </div>
</div>
<div style="height: 10vh;">

</div>
{{/if}}